@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="alert-info">
    <h3>dies ist eine Partielle Ansicht</h3>
    <p>Diesr Inhalt wurde serverseitig geladen und mit der Fetch Api nachgeladen und in das DOM integriert</p>
    <p>Serverzeit: @DateTime.Now.ToLongTimeString()</p>
</div>