@{
	ViewBag.Title = "Home Page";
}

@section Styles {
    @if (DateTime.Now.Hour >= 6 || DateTime.Now.Hour <= 20)
    {
        @* Dark mode styles *@
        <link rel="stylesheet" href="~/css/dark.css" asp-append-version="true" />
    }
    else
    {
        @* Light mode styles *@
        <link rel="stylesheet" href="~/css/light.css" asp-append-version="true" />
    }
}



<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
