@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen zur meiner Übungsseite</h1>
    <p>Diese Seite ist zur Übung und festigung von ASP.NET MVC.</p>
</div>
